# no mac temporary files
.DS_Store

# no contrib modules and libraries
/modules/contrib
/libraries
# no contrib themes
/themes/zen
/themes/adminimal_theme

# no common modules and themes
/modules/custom/esn_blocktheme
/modules/custom/esn_galaxy_api
/modules/custom/esn_esncard_api
/modules/custom/webform_esncard
/modules/features/esn_base
/modules/features/esn_cas
/modules/features/esn_wysiwyg
/modules/features/satellite_faq
/modules/features/satellite_dev_settings
/modules/features/satellite_discounts
/modules/features/satellite_partners_external
/modules/features/satellite_team
/themes/esnbase

# No app modules
/modules/features/satellite_blog

#no cache
.sass-cache
